
:root{
    --text-color:white;
    --background-color: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    --border-color:lightgrey;
    --hover-color: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    --display-color:linear-gradient(to left, #0f2027, #203a43, #2c5364);
    --button-text-color: black;

}
body{
  background-image:url(/3438857.jpg);
  background-size: cover;
}
#calculator{
    width: 45%;
    height: 80%;
    min-width: 300px;
    min-height: 400px;
    border-radius: 5px;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
    background-color: var(--border-color);
}

#heading h1{
    background-color: black;
    /* font-size: 25px; */
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px;
}

#display-container{
    font-size: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    background-image: var(--display-color);
    width: 100%;
    height: 20%;
    min-height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#display-container p{
    margin: 0.5rem;
    vertical-align: text-bottom;
}

#container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 60%;
    min-height: 300px;
    justify-content: space-around;
   
   
}

.button{
    width: 20%;
    height: 20%;
    background-color: white;
    min-height: 60px;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    font-size: 1.8rem;
    cursor: pointer;
    transition:  1s;

}

#unique{
    width: 45%;
}

.button span{
    font-weight: 500;
}

#clear span{
    padding-left:1rem!important;
}

.button:hover{
    background-image: var(--hover-color);
}

.gradient{
    background-image: var(--background-color);
}
